<html>
    <head></head>
    <body>
        <br>
              <div class="alert alert-primary" role="alert">
                <h1 class="center">¡Bienvenido!</h1>
              </div>
              <div class="alert alert-secondary" role="alert">
                <h2>Tendencia en Lenguajes de Programación, los top 10 del 2020.</h2>
              </div>
              <img src="./assets/inicio.jpg" class="card-img-top" alt="...">
              <br>
              <br>
    </body>
        
</html>


  